body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    color: #333; /* Dark text color */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #555; /* Dark gray header background */
    color: #f0f8ff; /* Light text color */
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.profile-pic {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    max-width: 200px; /* Adjust profile picture size */
}

.project {
    display: flex;
    margin-bottom: 20px;
}

.project-img {
    max-width: 200px; /* Adjust project image size */
    margin-right: 20px;
}

.project-info {
    flex: 1;
}

footer {
    text-align: center;
    background-color: #555; /* Dark gray footer background */
    color: #f0f8ff; /* Light text color */
    padding
