body {
    font-family: "Arial", sans-serif; /* Change font family */
    background-color: #282c34; /* Change background color */
    color: #f0f8ff; /* Light text color */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #3b3b3b; /* Change header background color */
    color: #f0f8ff;
}

.profile {
    text-align: center;
    margin: 20px auto;
}

.profile img {
    border-radius: 50%;
    max-width: 150px; /* Reduce image size */
    display: block;
    margin: 0 auto;
}

.projects {
    display: flex; /* Use flexbox */
    flex-wrap: wrap;
    justify-content: space-around; /* Space out project cards */
    padding: 20px;
}

.project {
    background-color: #444; /* Change project card background color */
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: calc(33% - 40px); /* Adjust width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.project h2 {
    margin-top: 0;
    color: #f0f8ff;
}

.project a {
    color: #61dafb; /* Change link color */
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}
